.woohyeon-logo {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Gemunu Libre', sans-serif;
}


.woohyeon_footer_logo {
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}

.woohyeon_footer_button {
    font-size: .7rem;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}

.woohyeon_login_form {
    text-align: center;
    max-width: 500px;
    margin: 4rem auto;
    font-family: 'Gemunu Libre', sans-serif;
}

.woohyeon_create h3 {
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    font-weight: 700;
}

.woohyeon_create .btn-dark.rounded-pill {
    margin: 0 auto;
    display: block;
}

.woohyeon-mypage * {
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}